.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-style {
  transform-style: preserve-3d;
}
/* Flip au hover sur desktop uniquement */
@media (hover: hover) and (pointer: fine) {
  .flip-card-inner:hover {
    transform: rotateY(180deg);
  }
}
.title-site{
  font-family: Calibri;
  color: #32D3E7; /* affiche en couleur simple */
  font-size: clamp(1rem, 12vw, 6rem);
  text-shadow:
    0 0 15px rgba(15, 62, 78, 0.9),
    0 0 25px rgba(15, 62, 78, 0.8),
    0 0 35px rgba(15, 62, 78, 0.7);
  letter-spacing: 0.02em;

}


.soustitle{
  font-family: Calibri;
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: transparent;
  color: #F28502; /* affiche en couleur simple */
  text-shadow:
  0 0 15px rgba(97, 33, 11, 0.8),
  0 0 25px rgba(97, 33, 11, 0.7),
  0 0 35px rgba(97, 33, 11, 0.6);
}

.soustitlepurple{
  font-family: Calibri;
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: transparent;
  color: #E6007E;
  text-shadow:
    0 0 10px rgba(230, 0, 126, 0.8),
    0 0 20px rgba(230, 0, 126, 0.6),
    0 0 30px rgba(230, 0, 126, 0.4),
    0 0 45px rgba(255, 100, 180, 0.3);
}

.glow-neon {
  filter: drop-shadow(0 0 1px #00ffff)
          drop-shadow(0 0 3px #00ffff)
          drop-shadow(0 0 px #00ffff);
  animation: neonBlink 1.5s infinite alternate;
}

@keyframes neonBlink {
  0% {
    filter: drop-shadow(0 0 2px #00ffff)
            drop-shadow(0 0 5px #00ffff)
            drop-shadow(0 0 30px #00ffff);
  }
  50% {
    filter: drop-shadow(0 0 3px #00ffff)
            drop-shadow(0 0 6px #00ffff)
            drop-shadow(0 0 40px #00ffff);
  }
  100% {
    filter: drop-shadow(0 0 2px #00ffff)
            drop-shadow(0 0 5px #00ffff)
            drop-shadow(0 0 10px #00ffff);
  }
}  
.titleNeon{
  font-family: Calibri;
  font-size: clamp(0.8rem, 12vw, 7rem);
  letter-spacing: 0.02em;

}

.title-page{
    font-size: 50px !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
